html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #ffe600;
    margin-bottom: 30px;
}

.container {
    margin-top: 20px;
}

.about {
    background-color: #ffe600;
    height: 100%;
    max-width: 80%;
    margin-top: 10%;
}

h1 {
    font-family: 'Sura', serif;;
    font-size: 60px;
}

h2 {
    font-family: 'Sura', serif;
    font-size: 40px;
    text-align: center;
}

.navbar-brand {
    font-family: 'Sura', serif;
    font-size: 26px;
}

.nav-link {
    color: #ffffff !important;
}

.frame-top-right {
    border-right: 10px black solid;
    border-top: 10px black solid;
}

.frame-down-left {
    border-left: 10px black solid;
    border-bottom: 10px black solid;
}

.name {
    text-align: end;
}

.lastname {
    text-align: start;
}

.mission-statement {
    padding-top: 20px;
}

.row {
    max-width: 85%;
    margin: auto auto;
    padding-top: 5px;
}

.col-sm-12 {
    padding: 7px;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: none;
  }

.footer {
    position: absolute;
    bottom: 0;
    height: 50px; /* fixed height of the footer */
    line-height: 30px; /* vertically center the text */
    width: 100%;
    background-color: #343a40 !important;
    color: #ffffff !important;
  }

  footer {
      text-align: center;
  }

.contact-buttons {
    text-align: center;
    padding: 20px;
}
