body {
    background-color: #ffe600;
}

.about {
    background-color: #ffe600;
    height: 100%;
    max-width: 80%;
    margin-top: 10%;
}

h1 {
    font-family: 'Sura', serif;;
    font-size: 60px;
}

.frame-right {
    border-right: 10px black solid;
    border-top: 10px black solid;
}

.frame-left {
    border-left: 10px black solid;
    border-bottom: 10px black solid;
}

.name {
    text-align: end;
}

.lastname {
    text-align: start;
}

.mission-statement {
    padding-top: 20px;
}

.row {
    max-width: 85%;
    margin: auto auto;
}

.button-set {
    padding-top: 20px
}

.col-sm-12 {
    padding: 7px;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: none;
  }

  .footer {
    position: absolute;
    bottom: 0;
    height: 30px; /* Set the fixed height of the footer here */
    line-height: 30px; /* Vertically center the text there */
    width: 100%;
    background-color: black !important;
    color: #ffffff !important;
  }

  footer {
      text-align: center;
  }